/*General*/
body {
   padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: beige;
    }
    

   /*Index*/
    h1.index {
    font-size: 50px;
    text-shadow: 0 0 20px black;
    color: red;
    }

.perfil{
    height: 200px;
    width: 200px;
   border: 1px solid black;
    border-radius: 100%;
}
a.index{
    color:black;
    font-size: 20px;
}
/*Ejercicio 2*/
div.gats img{
    border-radius: 25px;
    margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 5px;
    margin-left: 8px;
}

/*Ejercicio 4*/
div.articulo {
    width: 300px;
    height: 500px;
    padding: 2px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    
}

.imagen {
    width: 298px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}
div.precio {
    width: 298px;
    height: 30px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}
div.nombre {
    position: relative;
    width: 298px;
    height: 30px;
    text-align: left;
    padding-right: 2px;
    font-size: 20px;
    background-color:white;
    }
div.descripcion {
        width: 298px;
        height: 64px;
        text-align: left;
        color: darkslategray;
        font-size: 15px;
        background-color: white;
        padding-left:1px;
  }
  
  i.heart{
    width: 45%;
    height: 12%;
    color: red;
    background-color: white;
    text-align: center;
    padding-right: 5px;
    display: inline-block;
    border-radius: 20px;
    padding-top: 4%;
   
  }
  i.heart:hover {
    background-color: red;
    color:white;
}
   i.chat{
    width: 45%;
    height: 12%;
    color: green;
    background-color: white;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    padding-top: 4%;
     }
     i.chat:hover {
        background-color: green;
        color:white;
    }
     i.pepper{
        padding-top: 10px;
        color:white;
     }
    
  .hot{
    box-shadow: 0 0 10px blue;
      margin-left: 245px;
      margin-top: 5px;
     position: absolute;
    height: 50px;
      width: 50px;
      border-radius:50px;
      text-align: center;
    background-color: lightseagreen;
  }
  .hot:hover {
    background-color: orange;
    box-shadow:0 0 50px rgba(122, 2, 2, 0.918);
}

